*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url() no-repeat center center/cover;
    position: sticky;
    font-family: 'Playfair Display', serif;
}
a{
    text-decoration: none;
}
/* headings */
.heading{
    font-size: 100px;
    max-width: 300px;
    float: right;
    color: #649094;
}
/* navigation */
#navbar .heading{
    float: right;
    display: flex;
    margin: 150px;
    text-align: center;
}
.nav ul{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    float: left;
    line-height: 4;   
}
/* navigation buttons */
div ul .home{
    display: inline-block;
    border: 1px solid #936F5F;
    padding: 0px 150px 0px 300px;
    margin-bottom: 50px ;

}
div ul .about{
    display: inline-block;
    border: 1px solid #936F5F;
    padding: 0px 100px 0px 225px;
    margin-bottom: 50px ;
}
div ul .members{
    display: inline-block;
    border: 1px solid #936F5F;
    padding: 0px 100px 0px 150px;
    margin-bottom: 50px ;
}
div ul .contacts{
    display: inline-block;
    border: 1px solid #936F5F;
    padding: 0px 50px 0px 75px;
    margin-bottom: 50px ;
}
.nav a{
    color:#fff;

}
nav {
    display: flex;
    position: sticky;
    top: 10px;
    justify-content: space-between;
    background-image: linear-gradient(#b6d6d8, #649094);
    padding: 10px 50px;
}